@model EmployeeManagement.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpAddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpAddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpAddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpAddressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpAddressLine3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpAddressLine3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDateOfJoin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDateOfJoin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
